@import url(http://fonts.googleapis.com/css?family=Oleo+Script:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto);


*,
:before,
:after {
box-sizing: border-box;
}

::-webkit-scrollbar { 
    display: none; 
}


html, body {
  width:100%;
  height:100%;
}

#slides-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a{
  color: white;
}

#slides{
  /* width: 100%;*/
  /* height: 100%;*/
  width: 200%; /*Set to 200 so that each slide fills the screen at 50%*/
  height: 200%;
  position: fixed;
  top: 0;
  left: 0;
}

.slide{
  // -webkit-filter: sepia(.5);
  // filter: sepia(.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /*So it only takes up half of it's parent container*/
  height: 50%; /*So it only takes up half of it's parent container*/
}

#slide-1{
  background: url('../img/slide1-replace.svg') no-repeat center center;
  background-size: cover;
}


#slide-2{
  background: url('../img/slide2-replace.svg') no-repeat center center;
  background-size: cover;
  -webkit-transform: translate(0,100%);
  -ms-transform: translate(0,100%);
  transform: translate(0,100%);
}
.slide-3{
  background: url('../img/slide3-replace.svg') no-repeat center center;
  background-size: cover;
  -webkit-transform: translate(100%,100%);
  -ms-transform: translate(100%,100%);
  transform: translate(100%,100%);  
}
#slide-4{
  background: url('../img/slide2-replace.svg') no-repeat center center;
  background-size: cover;
  -webkit-transform: translate(100%,0%);
  -ms-transform: translate(100%,0%);
  transform: translate(100%,0%);  
}

.caption{
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-align: right;
  color: rgba(47,125,130, 1);
  width: 30%;
  height: 30%;

}
 /*Overwriting formatting for text.*/
p, h1{ margin: 0; }
h1, h2, h3, h4, h5, h6{ margin-bottom: 0.2em;
  font-family: 'Oleo Script';
}

p{ line-height: 1.333em;}

/* Start slide 1 css */

#s1Info{
  font-size: 5em;
  border-bottom: solid 2px white;
}
#s1Call{
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  font-size: 3em;
}

#slide-1 .caption{
  top: 35%;
  right: auto;
  left: 10%;
  bottom: auto;
  text-align: center;
  color: white;
}

#slide-1 #slide1-Slide1in{ 
  box-sizing: border-box;
  position: absolute;
  left: 0%;
  // background-color: rgba(150, 150, 150, .5);
  height: 100%;
  width: 50%;
  padding: 0px 60px;
  border-radius: 10px;
  // border: 10px solid white;
}

#mainPic{
  width: 50%;
  height: 100%;
}

.infoS1{
  display: inline-block;
  vertical-align: top;
  width: 49%;
  font-size: 1.5em;
  font-family: 'Roboto', helvetica;
  color: white;
  text-align: center;
}

.infoS1Blurb{
  font-size: 1.5em;
  line-height: 1.5em;
}

#infoS1Head{
  display: inline-block;
  vertical-align: top;
  font-family: 'Oleo Script', helvetica;
  font-size: 2.5em;
  border-bottom: 5px solid white;
}

#s1Container{
  height: auto;
  width: auto;
}

#introInfo{
  height: 50%;
  // text-align: center;
  overflow: hidden;
}

/* End slide 1 css */

/*////////////////////////*/

/* Start slide 2 css */


#slide-2 .slide2-Slide2in{ 
  position: absolute;
  right: 10%;
  top: 10%;
  // background-color: rgba(121, 160, 163, 1);
  height: 100%;
  width: 50%;
  overflow: hidden;
  border-radius: 20px;
  min-width: 300px;
}

#s2Info{
  text-align: center;
  height: 180px;
  width: 180px;
  line-height: 160px;
  // background-color: rgba(47,125,130, 1);
  color: white;
  border-radius: 50%;
  border: 5px solid white;
}

.skillList{
  list-style: none;
  font-family: 'Roboto';
  display: inline-block;
}

.SL-li{
  display: inline-block;
  vertical-align: top;
  margin: 0px 30px 10px 0px;
  // border-bottom: 2px solid white;
  color: white
}

.aboutMeInfo{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  min-width: 200px;
}

.aboutH1{
  font-size: 3em;
  margin-bottom: 20px;
  border-bottom: 2px solid white;
  color: white;
  letter-spacing: 2px;
}

.aboutH2{
  text-align: left;
  font-size: 1.8em;
  font-family: 'Oleo Script';
  border-bottom: 2px solid white;
  color: white;
}

.aboutH3{
  color: white;
}

.aboutBody{
  font-family:'Roboto';
  color: white;
}

/* End slide 2 css */

/*////////////////////////*/

/* Start slide 3 css */

.slide-3 .caption{
  left: 75%;
  right: auto; /*You have to set right auto or setting the left 5% won't work*/
  color: slategray;
  text-align: left;
}

.slide-3 .slide3-Slide3in{ 
  position: absolute;
  // background-color: rgba(229, 65, 33, 1);
  width: 70%;
  overflow: hidden;
  border-radius: 20px;
  padding: 20px;
}

.proImage{
  width: 100%;
  height: 25%;
  margin-bottom: 20px;
  border-radius: 10px 10px 20px 20px;
  border: 5px solid white;
}

#proImg1{
  background: url(../img/tictactoe.png);
  background-size: cover
}

#proImg2{
  background: url(../img/musicroom.png);
  background-size: cover
}

#proImg3{
  background: url(../img/younghort.png);
  background-size: cover
}

#proImg4{
  background: url(../img/bandwiki.png);
  background-size: cover
}

.proHead{
  width: 100%;
  height: 20%;
  font-size: 3em;
  color: white;
  text-align: center;
  // border-bottom: 2px solid white;
  margin-bottom: 20px;
}

.proContent{
  width: 100%;
  height: 50%;
  color: rgba(255, 255, 255, .7)
}

.contLeft{
  display: inline-block;
  vertical-align: top;
  width: 70%;
  height: 100%;
  border-right: 2px solid white;
  text-align: center;
  padding: 0px 10px 0px 10px;
  font-family: 'Roboto', helvetica;
}

.contRight{
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-left: -4px;
  height: 100%;
  text-align: center;
    overflow: scroll;
}

.contentList{
  list-style-type: none;
  padding: 0;
}

.contLi{
  margin-bottom: 10px;
}


#s3Info{
  text-align: center;
  height: 180px;
  width: 180px;
  line-height: 160px;
  // background-color: rgba(47,125,130, 1);
  color: white;
  border-radius: 50%;
  border: 5px solid white;
}

/*End slide 3*/

/*Start slide 4*/

#slide4-Slide4in{
  position: absolute;
  left: 0%;
  width: 50%;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

#slide4-Slide4in a{
  color: rgba(255, 255, 255, 0.7);
}

#slide-4 .caption{
  right: auto;
  left: 5%;
  top: 5%;
  bottom: auto;
  color: slategray;
  text-align: left;
}

#s4Info{
  text-align: center;
  height: 180px;
  width: 180px;
  line-height: 160px;
  // background-color: rgba(47,125,130, 1);
  color: white;
  border-radius: 50%;
  border: 5px solid white;
}

.connectHead{
  font-size: 3em;
}

.connectInfo{
  font-size: 1.3em;
  font-family: 'Roboto', helvetica;
  line-height: 2em;
}

/*End Slide 4*/

#helper{
  position: absolute;
  left: 0;
  top: 0;
  height: 600%; /*Set to 600% so it is double the size of the #slides element PLUS the break points in the scroll events. !IMPORTANT! Update this size if you add more slides.*/
  widthpngpx; /*Just for admin reference*/
}

.marker{
  height: 25%;
  width: 100%;
}

.m1{
  background-color: red;
}

.m2{
  background-color: green;
}

.m3{
  background-color: blue;
}

.m4{
  background-color: yellow;
}


















